@page
@model IndexModel

	<h1>Accessible Forms w/Razor!</h1>

    @using(Html.BeginForm(FormMethod.Post))
    {
        <div>
            @Html.Label("firstName", "First Name")
            @Html.TextBox("firstName")
        </div>
        <div>
            @Html.Label("lastName", "Last Name")
            @Html.TextBox("lastName")
        </div>
        <div>
            @Html.Label("email", "Email")
            @Html.TextBox("email")
        </div>
        <div>
            @Html.Label("phoneNumber", "Phone Number")
            @Html.TextBox("phoneNumber")
        </div>
        <div>
            @Html.Label("message", "Message")
            @Html.TextArea("message")
        </div>
        <div class="button">
			<button>Submit</button>
		</div>
		<div class="button">
			<button>Charlotte is awesome!</button>
		</div>
    }
